#username {
    background-color: yellow;
    border: 0;
    margin-left: 50px;
    margin-right: 20px;
}

#password {
    background-color: yellow;
    border: 0;
    margin-right: 20px;
}

#buttonForm {
background-color: #0066ff;
border: none;
color: white;
margin-left: 30px;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}
